.SearchBar {
   position: relative;
   width: 100%;
   .SearchInput {
      color: #fff;
      border: none;
      border-bottom: 1px solid var(--light-gray);
      background: none;
      font-size: 2rem;
      padding: 2rem 0 2rem 1rem;
      width: 100%;
      &:focus {
         outline: 1px solid rgba(255, 255, 255, 0.3);
         border-bottom: 1px solid #fff;
      }
   }
   .SearchSuggestions {
      z-index: 2;
      position: absolute;
      bottom: -1px;
      left: 0;
      transform: translateY(100%);
      width: 100%;
   }
   input::placeholder {
      color: #ddd;
   }
}